@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&display=swap');


.loader{
    width: 150px;
    height: 70px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

@keyframes square-rotation {
    25% {
      transform: translateX(-30px) rotateZ(-100deg);
    }
    50% {
      transform: translateX(0px) rotateZ(0deg);
    }
    75% {
      transform: translateX(30px) rotateZ(100deg);
    }
  }
  
  .squares {
    display: flex;
  }
  
  .squares span{
    margin-top: auto;
    margin-right: 12px;
    display: block;
    width: 25px;
    height: 25px;
    background-color:white;
    animation: square-rotation 2000ms linear infinite;
  }
  
  .squares span:nth-child(2) {
    width: 20px;
    height: 20px;
  }
  .squares span:nth-child(3) {
    width: 15px;
    height: 15px;
  }
  .squares span:nth-child(4) {
    width: 10px;
    height: 10px;
  }

  @keyframes dot-animate {
    50% {
        opacity: 0;
      }
  }

  .text-loading p{
    display: flex;
    gap: 10px;
    font-family: "Orbitron", sans-serif;
    color: white;
    letter-spacing: 3px;
  }

  .text-loading p span{
    margin-top: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    animation: dot-animate 1200ms linear infinite;
  }
  

  .text-loading p span:nth-child(2) {
    animation-delay: 200ms;
  }
  .text-loading p span:nth-child(3) {
    animation-delay: 300ms;
  }
