.card-wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
    justify-content: center;
}

.score-card{
    font-family: "Orbitron", sans-serif;
    color: #FFD700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.score-img{
    display: flex;
    justify-content: center;
    width: 100%;
}

.score-img img{
    height: 60px;
}

.score-card p{
    font-weight: 500;
    font-size: 1.18rem;
    letter-spacing: 5px;
}

.score-card p span{
    font-size: 3rem;
}

.score h3{
    font-size: 1.5rem;
    text-align: left;
}

