@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&display=swap');

@font-face {
  font-family: 'SDGlitch';
  src: url('/fonts/SDGlitchDemoRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
